@use "../utils/variables.scss";

body,
button {
  font-family: "ClashDisplay", sans-serif;
  color: variables.$white;
  font-size: 16px;
  line-height: 150%;
  border: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

p,
li,
span {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  line-height: 110%;
}
